<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        <div class="powr-form-builder" id="9cfeab63_1597150244"></div><script src="https://www.powr.io/powr.js?platform=html"></script>
      </div>
    </div>
  </div>
</div>
